* {
    /* margin: 0;
    padding: 0; */
    font-family: sans-serif;

}

.shop-box {
    padding: 20px;
}

.product-select {
    width: 300px;
    margin-bottom: 20px;
}

.box-quantity {
    margin-bottom: 15px;

}

.btn-buy {
    width: 300px;
}

.buy-list {
    color: rgb(103, 103, 105);
    list-style: none;
    font-size: 15px;
    line-height: 16px;
}

.buy-item {
    display: flex;
    /* border-bottom: 1px solid rgb(190, 190, 190); */
}

.buy-name {
    width: 100px;
}

.buy-quantity {
    width: 50px;
}

.buy-sign {
    width: 18px;
}